[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
pillow = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
django-debug-toolbar = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
